.error {
    background-color: rgb(245, 183, 168);
    color: color:var(--pico-color-dark);
}

.container > figure, .grid > figure {
    text-align: center;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media print {
    @page {
	size: A4;
	margin-left: 19mm;
	margin-right: 13mm;
	margin-top: 19mm;
	margin-bottom: 19mm;
    }

    .grid {
        grid-template-columns: repeat(auto-fit, minmax(0%, 1fr));
    }

    .container {
	max-width: none;
    }

    header {
	break-after: avoid;
    }

    figure {
	break-inside: avoid;
    }

    body .noprint {
	display: none;
    }
}
