{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Impedance Optimization Results{% endblock %}</h1>
{% endblock %}

{% block content %}
  <section>
    <header>
      <h2>Initial Performance</h2>
    </header>
    <div class="grid">
      <figure>
	{{ base_smith['svg']|safe }}
	<figcaption>Smith chart of <em>{{ base_smith['name'] }}</em></figcaption>
      </figure>
      <figure>
	{{ base_vswr['svg']|safe }}
	<figcaption>VSWR of <em>{{ base_vswr['name'] }}</em></figcaption>
      </figure>
    </div>
  </section>

  <section>
    <header>
      <h2>Best Component Combination</h2>
    </header>
    <div class="grid">
      <figure>
	{{ best_smith['svg']|safe }}
	<figcaption>Smith chart of <em>{{ best_smith['name'] }}</em></figcaption>
      </figure>
      <figure>
	{{ best_vswr['svg']|safe }}
	<figcaption>VSWR of <em>{{ best_vswr['name'] }}</em></figcaption>
      </figure>
    </div>
  </section>

  <section>
    <header>
      <h2>All Optimized Component Configurations</h2>
    </header>
    {# {% for rb in results_vswr|batch(2) %} #}
    {#   <div class="grid"> #}
    {# 	{% for r in rb %} #}
	{% for r in results_vswr %}
	  <figure>
	    {{ r['svg']|safe }}
	    <figcaption>VSWR of <em>{{ r['name'] }}</em></figcaption>
	  </figure>
	{% endfor %}
    {# 	{% endfor %} #}
    {#   </div> #}
    {# {% endfor %} #}
  </section>
{% endblock %}
