{% extends 'base.html' %}

{% block title %}Impedance Optimization Results for {{ base_name }} {{frequency }}{% endblock %}

{% block header %}
  <div class="flex">
    <hgroup>
      <h1>Impedance Optimization Results</h1>
      <p>
	Optimization of <em>{{ base_name }}</em> in frequency range {{ frequency }}
      </p>
    </hgroup>
    <div>
      <a href="" role="button" class="secondary noprint">Start Over</a>
    </div>
  </div>
{% endblock %}

{% block content %}
  <section>
    <header>
      <h2>Initial Performance</h2>
    </header>
    <div class="grid">
      <figure>
	{{ base_smith|safe }}
	<figcaption>Smith chart of <em>{{ base_name }}</em></figcaption>
      </figure>
      <figure>
	{{ base_vswr|safe }}
	<figcaption>VSWR of <em>{{ base_name }}</em></figcaption>
      </figure>
    </div>
  </section>

  <section>
    <header>
      <h2>Best Component Combination</h2>
    </header>

    <div class="container">
      <figure>
	<div class="container" style="max-width: 35%">
	  {{ best_schema|safe }}
	</div>
	<figcaption>Matching circuit for <em>{{ base_name }}</em></figcaption>
      </figure>
    </div>

    <div class="grid">
      <figure>
	{{ best_smith|safe }}
	<figcaption>Smith chart of <em>{{ best_name }} (including tolerances)</em></figcaption>
      </figure>
      <figure>
	{{ best_vswr|safe }}
	<figcaption>VSWR of <em>{{ best_name }} (including tolerances)</em></figcaption>
      </figure>
    </div>
  </section>

  <section>
    <header>
      <h2>Top 3 Configurations per Architecture</h2>
    </header>
    {% for rb in results_vswr|batch(2) %}
      <div class="grid">
	{% for r in rb %}
	  <figure>
	    {{ r['svg']|safe }}
	    <figcaption>VSWR of <em>{{ r['name'] }}</em></figcaption>
	  </figure>
	{% endfor %}
      </div>
    {% endfor %}
  </section>
{% endblock %}
