{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Antenna Match Optimizer{% endblock %}</h1>
{% endblock header %}

{% block content %}
  <section>
    <p>
      This page computes an optimal impedance matching network for an
      antenna.  It first calculates ideal values for inductor and
      capacitor of all four L-⁠network options.  It then selects the
      optimal real component values, taking tolerances into
      consideration.  Currently it uses parts from the Johanson
      S402DS <a href="https://www.johansontechnology.com/capacitor-kits">Capacitor
      Kit</a> and the
      L402DC <a href="https://www.johansontechnology.com/inductor-kits">Inductor
      Kit</a>.  The optimization is done by maximizing worst-case (due
      to tolerance combinations) transmitted power (∫|<em>S₁₁</em>|²) in the
      selected frequency band.  Target impedance is 50Ω.
    </p>

    <p>
      Measure the <em>S₁₁</em> of your unmatched antenna using a vector
      network analyzer (VNA).  Upload the resulting S-⁠Parameter file
      here on this page.
    </p>

    <div class="grid">
      <p>
	When preparing the design for a potential matching network for
	your antenna, place the matching network as close to the antenna
	as possible.  I suggest preparing a π-⁠network, because it allows
	for all L-⁠network combinations and does not require an
	additional jumper link (which a T-⁠network would).
      </p>
      <figure style="max-width: 15em; margin: auto;">
	{{ pi_network|safe }}
	<figcaption>Suggested π matching network</figcaption>
      </figure>
    </div>
  </section>

  <section>
    <a role="button" class="secondary outline" style="width: 100%;" href="{{ url_for(".example") }}">Show Example Output</a>
  </section>

  <hr />

  <section>
    <header>
      <h2>Upload 1-⁠Port S-⁠Parameter File</h2>
    </header>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
	<article>
	  <header class="error">A processing error occurred.</header>
	  <ul>
	    {% for message in messages %}
	      <li>{{ message }}</li>
	    {% endfor %}
	  </ul>
	</article>
      {% endif %}
    {% endwith %}

    <form
      action="{{ url_for('.optimize') }}"
      method="post"
      enctype="multipart/form-data"
      onsubmit="this.querySelector('input[type=submit]').disabled = true"
      >
      <fieldset class="grid">
	<label>
	  Select a <code>.s1p</code> Touchstone file
	  <input
	    type="file"
	    name="touchstone"
	    accept=".s1p,.s2p"
	    required
	    />
	  <small>File is not stored permanently on the server</small>
	</label>
	<label>
	  Frequency range to optimize
	  <input
	    type="text"
	    name="frequency"
	    list="frequency-options"
	    placeholder="Select or enter frequency range"
	    required
	    />
	  <small>Frequency range example: <code>2.4-2.5GHz</code></small>
	  <datalist id="frequency-options">
	    <option selected value="2.401-2.481GHz">Bluetooth Low Energy</option>
	  </datalist>
	</label>
      </fieldset>
      <fieldset>
	<label>
	  Add a title for this dataset
	  <input
	    type="text"
	    name="title"
	    placeholder="Title for Dataset"
	    />
	  <small>This title shows up in the report so that you can
	  better identify your dataset</small>
	</label>
      </fieldset>
      {% if sharing_enabled %}
	<fieldset>
	  <label>
	    <input
	      type="checkbox"
	      name="share"
	      />
	    Store report on server to allow sharing
	  </label>
	</fieldset>
      {% endif %}
      <input
	type="submit"
	value="Upload and Compute"
	/>
    </form>
  </section>
{% endblock content %}
